.u-section-1 .u-sheet-1 {
  min-height: 263px;
}

.u-section-1 .u-text-1 {
  margin: 59px 33px 0 156px;
}

.u-section-1 .u-text-2 {
  margin: 42px -11px 60px 200px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 705px;
}

.u-section-2 .u-image-1 {
  width: 675px;
  height: 675px;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -249px auto 0 340px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 46px auto 0 366px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 93px auto 0 340px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -68px auto 0 419px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 55px auto 0 448px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -134px auto 0 431px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 52px 555px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 16px 439px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -106px 370px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -236px auto 0 419px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -79px auto 0 424px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -43px auto 0 259px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -77px auto 0 431px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 68px auto 0 536px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -142px auto 0;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 244px auto 0 441px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -56px auto 0 464px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -224px 532px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 33px auto 0 475px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -142px 510px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-21 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 413px 483px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-22 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -84px 498px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-23 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -128px 482px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-24 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -10px 390px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-25 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -117px 428px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-26 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -107px 450px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-27 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 139px auto 0 515px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-28 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -49px auto 0 503px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-29 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -190px 510px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-30 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -87px 474px 0 auto;
  padding: 0 4px 0 2px;
}

.u-section-2 .u-btn-31 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 48px 450px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-32 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -48px 406px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-33 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -142px 295px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-34 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 32px 279px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-35 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 314px auto 0 536px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-36 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -159px auto 0;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-37 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 199px auto 0 513px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-38 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: -537px 498px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-39 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  align-self: flex-end;
  margin: 573px auto 0 513px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-40 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -278px auto 0 536px;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-41 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 50px 555px 0 auto;
  padding: 0 3px 0 2px;
}

.u-section-2 .u-btn-42 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 46px auto 60px 555px;
  padding: 0 3px 0 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-btn-1 {
    margin-left: 140px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 166px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 140px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 219px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 248px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 231px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 355px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 239px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 170px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 219px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 224px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 59px;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 231px;
  }

  .u-section-2 .u-btn-14 {
    margin-left: 336px;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 241px;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 264px;
  }

  .u-section-2 .u-btn-18 {
    margin-right: 332px;
  }

  .u-section-2 .u-btn-19 {
    margin-left: 275px;
  }

  .u-section-2 .u-btn-20 {
    margin-right: 310px;
  }

  .u-section-2 .u-btn-21 {
    margin-right: 283px;
  }

  .u-section-2 .u-btn-22 {
    margin-right: 298px;
  }

  .u-section-2 .u-btn-23 {
    margin-right: 282px;
  }

  .u-section-2 .u-btn-24 {
    margin-right: 190px;
  }

  .u-section-2 .u-btn-25 {
    margin-right: 228px;
  }

  .u-section-2 .u-btn-26 {
    margin-right: 250px;
  }

  .u-section-2 .u-btn-27 {
    margin-left: 315px;
  }

  .u-section-2 .u-btn-28 {
    margin-left: 303px;
  }

  .u-section-2 .u-btn-29 {
    margin-right: 310px;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 274px;
  }

  .u-section-2 .u-btn-31 {
    margin-right: 250px;
  }

  .u-section-2 .u-btn-32 {
    margin-right: 206px;
  }

  .u-section-2 .u-btn-33 {
    margin-right: 95px;
  }

  .u-section-2 .u-btn-34 {
    margin-right: 79px;
  }

  .u-section-2 .u-btn-35 {
    margin-left: 336px;
  }

  .u-section-2 .u-btn-37 {
    margin-left: 313px;
  }

  .u-section-2 .u-btn-38 {
    margin-right: 298px;
  }

  .u-section-2 .u-btn-39 {
    margin-left: 313px;
  }

  .u-section-2 .u-btn-40 {
    margin-left: 336px;
  }

  .u-section-2 .u-btn-41 {
    margin-right: 355px;
  }

  .u-section-2 .u-btn-42 {
    margin-left: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 28px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 11px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 135px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 19px;
  }

  .u-section-2 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 4px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 11px;
  }

  .u-section-2 .u-btn-14 {
    margin-left: 116px;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 21px;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 44px;
  }

  .u-section-2 .u-btn-18 {
    margin-right: 112px;
  }

  .u-section-2 .u-btn-19 {
    margin-left: 55px;
  }

  .u-section-2 .u-btn-20 {
    margin-right: 90px;
  }

  .u-section-2 .u-btn-21 {
    margin-right: 63px;
  }

  .u-section-2 .u-btn-22 {
    margin-right: 78px;
  }

  .u-section-2 .u-btn-23 {
    margin-right: 62px;
  }

  .u-section-2 .u-btn-24 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-25 {
    margin-right: 8px;
  }

  .u-section-2 .u-btn-26 {
    margin-right: 30px;
  }

  .u-section-2 .u-btn-27 {
    margin-left: 95px;
  }

  .u-section-2 .u-btn-28 {
    margin-left: 83px;
  }

  .u-section-2 .u-btn-29 {
    margin-right: 90px;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 54px;
  }

  .u-section-2 .u-btn-31 {
    margin-right: 30px;
  }

  .u-section-2 .u-btn-32 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-33 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-34 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-35 {
    margin-left: 116px;
  }

  .u-section-2 .u-btn-37 {
    margin-left: 93px;
  }

  .u-section-2 .u-btn-38 {
    margin-right: 78px;
  }

  .u-section-2 .u-btn-39 {
    margin-left: 93px;
  }

  .u-section-2 .u-btn-40 {
    margin-left: 116px;
  }

  .u-section-2 .u-btn-41 {
    margin-right: 135px;
  }

  .u-section-2 .u-btn-42 {
    margin-left: 135px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-top: 755px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 177px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-7 {
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-8 {
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-14 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-15 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-16 {
    margin-top: -138px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-17 {
    margin-top: -409px;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-18 {
    margin-top: -251px;
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-19 {
    margin-left: 300px;
  }

  .u-section-2 .u-btn-20 {
    margin-top: 38px;
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 110px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-22 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-23 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-25 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-26 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-27 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-28 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-29 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-30 {
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: 738px;
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-2 .u-btn-35 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-37 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-38 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-39 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-40 {
    margin-left: 0;
  }

  .u-section-2 .u-btn-41 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-42 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 551px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-13 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-14 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-15 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-16 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-17 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-18 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-19 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-20 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-21 {
    margin-top: 310px;
  }

  .u-section-2 .u-btn-30 {
    margin-left: 400px;
  }

  .u-section-2 .u-btn-31 {
    margin-top: 538px;
    margin-left: 400px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 317px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 26px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 26px auto 0;
}

.u-section-3 .u-btn-1 {
  border-style: none none solid;
  margin: 17px 169px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 460px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  width: 803px;
  margin: 25px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 25px auto 0;
}

.u-section-4 .u-btn-1 {
  border-style: none none solid;
  margin: 6px 169px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }
}