.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  /* display: flex;
  justify-content: end; */
  height: 40px;
}

.nav--menu {
  list-style: none;
  display: inline-flex;
  gap: 10px;
}

.form--search {
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  width: 60%;
  height: 30px;
}

#map{
  height: 1000px;
}

.img--container img {
  width: 100%;
  height: 300px;
  border: 1px solid #ffffff;
}

.map--container {
  height: 150px;
  width: 10%;
}