.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.header--container {
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #1F2123;
}

.navbar--container {
  display: flex;
  width: 100vw;
  justify-content: end;
  height: 40px;
  background-color: black;
}

.App--header h1{
  color: #ffffff;
}

.nav--menu {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  margin-right: 2%;
}

.nav--menu li {
  color: #ffffff;
}

.form--search {
  font-family: sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
  width: 60%;
  height: 30px;
}

#map{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.img--container img {
  width: 100%;
  height: 300px;
  border: 1px solid #ffffff;
}

.map--container {
  height: 150px;
  width: 10%;
}

.popup img{
  width: 100px;
  height: 100px;
}